*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.bg{
    background-color: #FFF8F3;
}
h1{
    font-size: 32px;
    font-weight: bold;
    
}
span{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    /* background-color: antiquewhite; */
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    align-items: center;
    
    
    
}
ul li a{
    text-decoration: none;

}
.regular_btn{
    background-color: #FD6E0A;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    color: white;
}
.hero_Part{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;
    
    
}
.hero_text_area .mr{
    font-weight: 600;
    font-size: 40px;
}
.hero_text_area h1{
    font-weight: 600;
    font-size: 80px;
}
.hero_text_area p{
    padding: 10px;
}
button{
    background-color: #FD6E0A;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;

}
button a{
    color: white;
    text-decoration: none;
}
.contact_button{
    background-color: white;
    border: 1px solid #FD6E0A;
}
.contact_button a{
    color: #FD6E0A;
    font-size: medium;
}
img{
    margin: 50px;
}
.about{
    background-color: #FFF8F3;
    text-align: center;
    border-radius: 10px;
    margin: 70px auto;
    padding: 20px;
    
}
.about_me{
   font-size: large;
}
.about_box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 100px;
    gap: 8px;
}
.about_box .box{
    background-color: #FD6E0A;
    padding: 10px;
    border-radius: 5px;

}